<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Application Framework BDD based POC" verbose="2" preserve-order="true" parallel="classes"
       thread-count="2">
    <test name="HR Web Automation using BDD">
        <classes>
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
</suite>